*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/backups/
/orm/
#/vendor/
/nbproject/private/
uploads/*
!uploads/index.html
!uploads/bank_soal/index.html
!uploads/file_siswa/index.html
!uploads/foto_siswa/index.html
!uploads/import/index.html
!uploads/materi/index.html
!uploads/profiles/index.html
!uploads/settings/index.html
!uploads/temp/index.html
!uploads/tugas/index.html
